<div id="header">
	<h1><a href="https://www.buffaloinnovates.com/">Buffalo, NY's Civic Innovation EcoChallenge</a></h1>
</div>
<div id="banner">
	<h1>WNY Cool Roof Project</h1>
	<h2>Reducing Buffalo's energy consumption using simple, proven technology.</h2>
</div>
<div id="sitenav">
	<ul>
		<li><a href="/">What?</a></li>
		<li><a href="/why">Why?</a></li>
		<li><a href="/how">How?</a></li>
		<li><a href="/where">Where?</a></li>
		<li><a href="/faq">FAQ</a></li>
		<li><a href="/join">Join!</a></li>
	</ul>
</div>
