<footer>
	<aside class="footer-left">
		<h1>Sponsors</h1>
		<ul>
			<li>
				<a href="http://ci.buffalo.ny.us/">City of Buffalo</a>
			</li>
			<li>
				<a href="https://www.att.com/">AT&amp;T</a>
			</li>
			<li>
				<a href="https://www.esri.com/en-us/home">ESRI</a>
			</li>
			<li>
				<a href="http://www.moderncorporation.com/">Modern Corporation</a>
			</li>
			<li>
				<a href="https://www.tylertech.com/products/socrata">Socrata</a>
			</li>
			<li>
				<a href="https://www.civicplus.com/">CivicPlus</a>
			</li>
			<li>
				<a href="https://bnmc.org/">Buffalo Niagara Medical Campus</a>
			</li>
		</ul>
	</aside>
	<aside class="footer-right">
		<h1>Site Links</h1>
		<ul>
			<li><a href="/">What?</a></li>
			<li><a href="/why">Why?</a></li>
			<li><a href="/how">How?</a></li>
			<li><a href="/where">Where?</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/join">Join!</a></li>
			<li><a href="/thanks">Thanks</a></li>
		</ul>
	</aside>
	<aside class="footer-center">
		<a href="https://www.buffaloinnovates.com/">
			<img alt="logo" height="125"
				src="/images/www.buffaloinnovates.com/ImageRepository/Document%3FdocumentID=143"></a>
	</aside>
</footer>
